@{

string title = "All Recipes";
List<Recipe> recipes = (List<Recipe>) ViewData["recipes"];
//string LoginPreviousUrl = "/home/allRecipes";
}

<a href="/Orders/Cart" class="btn btn-primary">My Cart</a>
<h2>@title</h2>
<p>Recipes</p>

<form action="/home/adminSearchRecipes" method="get" style="margin-top: 20px">
    <div class="form-group">
        <input type="text" name = "SearchText" class="form-control" placeholder="Search Recipes">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
</form>


@for (int i = 0; i < recipes.Count(); i++)
{
     <div class="card" style="border: 1px solid lightgrey">
        <div class="card-body">
            <h3>@recipes[i].Name</h3>
            <p>Category: @recipes[i].Category</p>
           <p>Description: @recipes[i].Description</p>
           <p>Ingredients: @recipes[i].Ingredients</p>
           <p>Price: @recipes[i].Price</p>
           <p>Rating: @recipes[i].Rating</p>
           <img src="@recipes[i].PictureUrl" alt="" width="100">
        </div>
        <div class="card-footer">
            <form action="/Orders/addToCart" method="post">
                <input type="hidden" name="id" value="@recipes[i].Id">
                <input type="submit" class="btn btn-primary" value="Add To My Cart">
            </form>
        </div>
        </div> 
}