@{
  ViewData["title"] = "Update Recipe";
  Recipe recipe = (Recipe)ViewData["recipe"];
}

<h1>@ViewData["title"]</h1>

<form action="/home/updateRecipe" method="post">
    <div class="form-group">
        <input readonly type="number" name="id" value="@recipe.Id" class=form-control placeholder="Recipe ID">
    </div>
    <div class="form-group">
        <input type="text" name="name" value="@recipe.Name" class=form-control placeholder="Recipe Name">
    </div>
    <div class="form-group">
        <input type="text" name="description" value="@recipe.Description" class=form-control placeholder="Recipe Description">
    </div>
    <div class="form-group">
        <input type="text" name="ingredients" value="@recipe.Ingredients" class=form-control placeholder="Recipe Ingredients">
    </div>
    <div class="form-group">
        <input type="text" name="category" value="@recipe.Category" class=form-control placeholder="Recipe Category">
    </div>
    <div class="form-group">
        <input type="double" name="price" value="@recipe.Price" class=form-control placeholder="Recipe Price">
    </div>
    <div class="form-group">
        <input type="double" name="rating" value="@recipe.Rating" class=form-control placeholder="Recipe Rating">
    </div>
    <img src="@recipe.PictureUrl" alt="" width="100">
    <div class="form-group">
    <input type="file" class="form-control" name="picture" placeholder="Picture">
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
</form>