@{
  ViewData["title"] = "Update Order";
  Order order = (Order)ViewData["order"];
}

<h1>@ViewData["title"]</h1>

<form action="/Orders/updateOrder" method="post">
    <div class="form-group">
        <input readonly type="number" name="id" value="@order.Id" class=form-control placeholder="Order ID">
    </div>
    <div class="form-group">
        <input type="text" name="CreationDate" value="@order.CreationDate" class=form-control placeholder="Order Creation Date">
    </div>
    <div class="form-group">
        <input type="text" name="DeleveryDate" value="@order.DeleveryDate" class=form-control placeholder="Order Delevery Date">
    </div>
    <div class="form-group">
        <input type="number" name="CustomerId" value="@order.CustomerId" class=form-control placeholder="Order Customer Id">
    </div>
    <div class="form-group">
        <input type="text" name="Status" value="@order.Status" class=form-control placeholder="Order Status">
    </div>
    <div class="form-group">
        <input type="double" name="Cost" value="@order.Cost" class=form-control placeholder="Order Cost">
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
</form>